html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5rem;
}

h1, h2 {
  color: #3f1622;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.125rem;
}

.aside {
  font-family: 'PT Serif', serif;
}
