html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5rem;
}

a:hover {
  color: #8f2440;
  text-decoration: none;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  line-height: 1.125rem;
}

.intro {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: normal;
}

aside {
  font-weight: bold;
  line-height: 1.5rem;
}

blockquote {
  font-weight: normal;
}

p::first-line {
  font-family: "PT Serif", serif;
}

dt {
  font-weight: bold;
  list-style-type: square;
}
